.Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 0 25px 0;
  background-color: var(--page-background);
}

.social-networks {
  padding:15px;
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color);
}