.Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 0 25px 0;
  background-color: var(--third-color);
  text-align: center;
}

.footer-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-text {
  padding: 10px 30px;
  text-align: center;
  color: var(--primary-color);
  font-weight: 400;
}

.social-networks {
  min-width: 300px;
  padding:15px;
  display: flex;
  justify-content: space-between;
}

.network-icon {
  color: var(--secondary-color);
}

@media only screen and (min-width: 767px) {
  .Footer {
    padding: 40px;
  }
  .network-icon {
    font-size: 1.4rem;
    margin: 20px;
  }
}

@media only screen and (min-width: 767px) {
  .Footer {
    padding: 40px;
  }
  .network-icon {
    font-size: 2rem;
  }
  .footer-text {
    font-size: 3.2rem;
    max-width: 900px;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-text {
    margin-top: 50px;
  }
  .network-icon {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1439px) {
  .network-icon {
    font-size: 2.4rem;
    margin: 30px 80px;
  }
  .footer-text {
    padding: 40px;
    font-size: 4rem;
  }
}