.EntryContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 10px;
  width: 100%;
  max-width: 1024px;
}

.my-entry {
  min-height: 100vh;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.entry-title {
  margin-bottom: 10px;
}

.entry-img {
  max-width: 80vw;
  border-radius: 5px;
}

.entry-opening {
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--light-font);
  font-style: italic;
  font-size: 1.6rem;
}

.entry-sub-header{
  max-width: 80vw;
  margin-bottom: 20px;
  font-size: 2.4rem;
  line-height:  2.8rem;
  font-weight: bold;
  overflow-wrap: break-word;
}

.entry-content {
  margin-bottom: 25px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: justify;
}

@media only screen and (min-width: 767px) {
  .entry-title {
    font-size: 3.8rem;
    margin-bottom: 20px;
  }

  .entry-opening {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .entry-sub-header {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }
  
  .entry-content {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .EntryContainer {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    padding: 50px;
    padding-bottom: 100px;
  }

  .my-entry {
    max-width: 70vw;
  }

  .entry-title {
    margin-bottom: 30px;
  }

  .entry-img {
    max-width: 65vw;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1350px) {
  .my-entry {
    max-width: 55vw;
  }

  .entry-img {
    max-width: 50vw;
  }
}
